/********************************************** GENERAL **************************************************/

*{
  box-sizing: border-box;  /* il margin è contenuto all'interno della dimensione massima */
  padding:0px; 
}

html{
font-size: 62.5%;  /* riduzione fint-size da default (16px) a 10px in modo che 1rem = 10px */
}

a{
  list-style-type: none; /* Toglie le sottolineature dai link */
}

body {
  font-family: 'Open Sans', sans-serif;  /* preso da google fonts */
  background-image: url("../Images/1.jpg"); /*   ../ significa che si deve risalire di una cartella, se volessimo risalire di 2 dovrfemmo usare ../../ e via dicendo */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 200vh;
}

.clearfix::after{      /* Clearfix serve per fixare determinati bug grafici. per utilizzarlo basta dare all'elemento buggato la class="clearfix" */
  content:"";
  clear: both;
  display: table;
}

.active {
  background-color:  rgb(22, 143, 22);
  border-radius: 8px;
  border: solid white 3px;
}

main {
  min-height: calc(100vh - 305.594px - 138.644px);
}

/********************************************** HEADER **************************************************/

header {
    background-color: rgb(27, 184, 163);
    text-align: center;
}

.logo-container {
  padding: 20px 20px 10px 20px;
}

header img {
  width: 260px;
}

/********************************************** MENU NAVIGAZIONE **************************************************/

nav{
  background-color: rgb(37, 163, 121);
  padding: 10px;
}

nav ul{
  margin: 0;
}

nav ul li{
  display: inline-block;
  padding: 5px 20px;
}


nav ul li a{
  font-size: 3rem;  /* con HTML 62.5% impostato all'inizio 1rem=10px */
  text-decoration: none;
  color: white;
  text-transform:uppercase;
  padding: 3px;
}

/********************************************** FOOTER **************************************************/

footer img{
  width:5%;
}

footer.main {
  text-align: center;
  padding: 20px;
}




/********************************************** GALLERY **************************************************/

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}


#gallery{     /* tutta la striscia della gallery */
  padding-top: 15px;
  padding-bottom: 15px;
}

#gallery img{ /* aumenta della dimensione massima possibile la immagine all'interno dei ITEM occupamndone tutto lo spazio*/
  width: 100%;
  border: 2px double black;
}

#gallery .item {  /* va a ridurre lo spazio occupato dagli item (e di conseguenza anche dalle immagini racchiuse) si sarebbe potuto ottenere VISIVAMENTE
  lo stesso risultato andando a mettere #gallery img{ width:50%; } ma in quel caso le dimensioni degli ITEM non sarebbero mutate e quindi sarebbe stato impossibile
  affiancarne 2 attraverso il comando FLOAT perchè avrebbero superato la lunghezza massima consentita e impostata all'interno di .container */
  width: 50%;
  float: left;  /* è possibile fare in maniera simile con display: inline-block; */
  padding: 15px;

}

#gallery .caption{
  background-color: rgb(209, 203, 203);
  margin: 0;
  padding: 10px;
}

/* #gallery .item:nth-child(2n + 1) {   
  clear:left;
}
/* #gallery .item:last-child {} Last-child indica l'ultimo elemento di una lista, Se avessimo voluto modificare il 3° avremmo dovuto usare nth-child(3)
  è possibile anche utilizzare semplici espressioni come (2n+1) per indicare solo gli item dispari, n=naturale(0,1,2,3 ...)    spostato sotto nei media queries*/

#gallery .pictures {
  line-height: 0;         /* serve per andare a eliminare la piccola linea bianca ereditata dal css normalize */
}


/********************************************** ABOUT **************************************************/

#about {
  padding: 30px;
}

#about .picture_profile {
  width:100%;
  padding: 15px ;
}

#about img {

  width: 100%;
  border: solid black 5px;
  border-radius: 100%;
}

#about  .description{
  width: 100%;
}


#about h1{
  font-size: 5rem;
}

#about p {
  font-size: 2rem;
}


/********************************************** CONTACT **************************************************/

#contact {
  font-size: 3rem;
}

#contact li{
  list-style-type: none;
  line-height: 200%;
}

#contact h1{
  border-bottom: rgb(33, 160, 33) solid 3px;
}

#contact a {
  text-decoration: none;
  color: black;
  width:70%
}

#contact a, #contact .material-symbols-outlined {
  display: inline-block;
  padding: 2px;
}

#contact .material-symbols-outlined {
  font-size: 60px;
  float:left;
  width:30%;
}




/**************************************????????????????????????????******** MEDIA QUERIES ****??????????????????????????????????????????????????*****************************/

/* servono per modificare l'impostazione grafica del sito html a seconda della dimensione dello schermo con cui lo guardiamo */

@media only screen and (min-width: 780px) {

        /***************************** NAV *************************************/

        nav ul li a {
          transition: .6s;
        }

        nav ul li :hover{
            background-color: rgb(22, 143, 22);
            border-radius: 8px;
          }

        /***************************** GALLERY *************************************/


        #gallery .item {  
          width: 33%;
          transition: opacity .5s;
        }

        #gallery .item:nth-child(3n + 1) { 
          clear:left;
        }

        #gallery .item :hover{
          opacity: .7;
        }


        /***************************** ABOUT *************************************/
        
        #about .picture_profile {
          width:50%;
          float:left;
        }
        
        #about  .description{
          float:right;
          width: 50%;
          padding: 50px 25px 25px 25px;
        }

        /***************************** CONTACT *************************************/


        #contact .info, #contact .numbers {
          padding: 20px;
        }
                      /*Mediante la " , " possiamo dare a più selettori el stesse variabili*/
        
        #contact .numbers {
          float: right;
          width:30%;
        }

        #contact .info {
          float: left;
          width:70%;
        }

        #contact ul{
          margin:0;
       
        }
      }

@media only screen and (max-width: 781px) {

/***************************** GALLERY *************************************/

#gallery .item {  
  width: 50%;
}

#gallery .item:nth-child(2n + 1) { 
  clear:left;
}

}